* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #F0F4F8;
  color: #1A1A2E;
  font-size: 14px;
}

/* Scrollbar discrète */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #F0F4F8;
}
::-webkit-scrollbar-thumb {
  background: #378ADD;
  border-radius: 3px;
}